[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=tooly
X-Python-2-Compatible=false
Name=Tooly
Comment=Minimal toolbox replacement
